#careers {
	padding-top: 80px;
	padding-bottom: 30px;
    color: white;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/careers/contractor.jpg');
    background-size: cover;
	font-family: 'Helvetica Neue', sans-serif;	
	-webkit-font-smoothing: antialiased;
    
} 

.industry-description h2.section-title {
	font-weight: 900;
	font-family: 'Lato', sans-serif;	
	font-size: 32px;	
}


.industry-description p {
    padding: 30px 70px 10px 70px;   
    line-height: 2.75;
    font-size: 110%;
    font-weight: 700;   
    text-indent: 30px;
    border-radius: 5px;
    text-align: center;
}

 .email-icon {
        width: 46px;
        height: 46px;
        background: #333;
        .border-radius(50%);
        display: inline-block;
        margin: 0 auto;
        color: @smoky-white;
        font-size: 24px;       
        font-weight:600;
        padding-top:10px;
        text-indent: 0;
}

  .industry-description.career-section-mail a {
    color: @smoky-white;    
    padding-left: 10px;
    font-size: 120%;    
    font-weight: 700;
    font-family: 'Helvetica Neue', sans-serif;
    -webkit-transition: all 0.4s ease-in-out;
} 

a:hover.career-section-mail {
    opacity: 0.6;
    color: @smoky-white;
}

.career-section-mail a:visited {
    color: @smoky-white;
}

.industry-description.careers-section-mail span, a:visited {
    color: @whitish-gray;
}



