/* ======= Promo Section ======= */
.promo-section {
    //min-height: 560px;
    background: @smoky-white;
    position: relative;   
}

.hero-carousel {
    height: 520px;
    color: @smoky-white;
    

    .carousel-inner {
        .item {
            height: 520px;
            background-position: center center;
            padding-top: 90px;
        }
        .item-1 {
            background-image: url('../images/hero/hero-1.jpg');
            .background-size(cover);
        }
        .item-2 {
            background-image: url('../images/hero/hero-2.jpg');
            .background-size(cover);
        }
        .item-3 {
            background-image: url('../images/hero/hero-3.jpg');
            .background-size(cover);
        }
        
        .item-4 {
            background-image: url('../images/hero/hero-4.jpg');
            .background-size(cover);
        }
        .item-5 {
            background-image: url('../images/hero/hero-5.jpg');
            .background-size(cover);
        }      
        
        .item-content-inner {
            max-width: 680px;
            margin: 0 auto;
        }

        .heading {
            font-size: 32px;
            line-height: 1.2;
            font-weight: 900;
            margin-top:1.75em;
            margin-bottom: 15px;                     
        }

          .intro {
            font-size: 18px;
            margin-bottom: 30px;            
        }

        @font-face {
            font-family: "BoxerScriptJF";
            src: url(assets/css/boxerscript.ttf);
        }

        .boxer-font {
            font-family: "BoxerScriptJF";
            font-size: 60px;
        }

            .heading h2 {
                font-family: 'BoxerScriptJF', 'Lato';
            }
    }

}

/* Hack - http://stackoverflow.com/questions/33494764/owl-carousel-2-resize-window-bug */
.owl-carousel .owl-item img {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}