/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) { 
    
    .topbar .social-container {
        right: inherit;
        left: 15px;
    }

    .branding {
        text-align: center;        
    }    

    li   {
        margin-left: 3em;
        color: #fff;
        font-family: 'Lato';
    }

    #message {
        margin-right: 1.25em;
        font-family: 'Lato';
        color: #fff;
    } 

   .icon-clock {
        margin-left: 6.15em;
        margin-bottom: 0.25em;
   }    

   .hours {
        margin-bottom: 0.5em;        
   }

   .info-weekdays {     
       margin-right: 22px;
       margin-bottom: 1em;
   }

    #email-address {
        margin-right: 80px;
    }

    .contact-methods .icon-telephone_signal {
       margin-left: 5.5em;
    }

    .contact-methods .phone-number {       
        margin-bottom: .5em;
        margin-right: 2.5em;
    }       

    h1.logo {
        float: none !important;
        text-align: center;
        margin-bottom: 30px;    
        img {
            margin: 0 2.8em auto 0;    
        }
    }  
    
    .header-info-list {
        margin: 0 auto;
        float: none !important;
        text-align: center;
        
    }
    
    .header-info-list .custom-icon {
        font-size: 26px;       
    }
    
    .header-info-list .info-item {
        display: block;
        margin-bottom: 15px;
        margin-right: 0;
        padding-left: 34px;
    }    
    
    .contact-form {
        padding: 0px;
        background: none;
    }

    .contact-info-list  {
        margin-right: 4.5em;
    }

    .contact-info-list .info {
        margin-right: 1.75em;        
    }

    #email-icon-contact {
        margin-right: 1.25em;
        margin-top: 15px;
      
    }  

    .contact-info-list .item #phone-number {
        margin-left: 0.75em;             
    }
    
    .footer-col {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
    .modal-dialog {
        width: 80%;
    }
    
    .nav > li > a {
        margin-right: 15px;
    }
    
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .nav > li > a {
        margin-right: 30px;
    }
    
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    
}



