/* ======= Services Section ======= */
.services-section {
    .item {
        margin-bottom: 60px;
        color: @text-color-secondary;
    }
    .item-inner {
        padding: 0 15px;
    }
    .item-title {
        color: @text-color-secondary;
        margin-top:0;
        margin-bottom: 15px;
        font-size: 18px;
    }
    .custom-icon {
        margin-bottom: 15px;
        display: inline-block;
        color:@color-primary;
        font-size: 68px;
    }
    .cta-area {
        margin-top: 45px;
    }
}

