//Default

@color-primary: #64727F; 
@color-secondary: #DADED0;
@color-rating: #ffd700;
@text-color-primary: #343E49;
@text-color-secondary: #6c8198;
@text-color-grey: #999;
@black: #000;
@smoky-white: #FDFDFD;
@color-dark-blue: #314256;
@grey: #ccc;
@divider: #eee;
@error: #CD3D2B;


//New Theme 1

@light-taupe: #EDEAE8;
@taupe: #575350;
@medium-brown: #94887F;
@dark-brown: #2E1E0A;
@dark-gray: #262B2E;
@light-gray: #E9E9E9;
@medium-gray: #292929;
@whitish-gray: #F7F7F7;
@darkest-gray: #191919;



/* old theme colors */
@theme-1: #2f7ddb; 
@theme-2: #53B153; 
@theme-3: #4E7EAC; 
@theme-4: #48B7B8; 
@theme-5: #A06081; 
@theme-6: #8A7247; 




























































































