/* ======= Why Section ======= */
.why-section {
    background: @color-primary;
    color: #fff;
    .section-title {
        margin-bottom: 30px;
    }
}

.reasons {
    max-width: 600px;
    
    .fa-check {
        color: @color-secondary;
    }
    .item {
        margin-bottom: 30px;
    }
    .item-title {
        font-size: 18px;
    }
    .item-desc {
        color: rgba(0, 0, 0, 0.5);
        font-size: 14px;
    }
}

.badges-list {
    margin-top: 60px;
    .badge-item {
       margin-right: 30px; 
       margin-bottom: 30px;
       &:last-child {
           margin-right: 0;
       }
    }
    img {
        max-height: 90px;
        vertical-align:middle;
    }
}